/* CSS declarations go here */
input[class=input-micro] {
	width: 32px;
	text-align: center;
	height: 32px !important;
/*	margin-bottom: 10px !important;
	line-height: 30px !important;
	padding: 11px 19px !important;
	font-size: 17.5px !important;*/
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}